<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basics.css') }}">

    <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/work.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/market.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/basics.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/character.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game_socket.js') }}" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>

    <script>
        let tiles = {{ tiles|tojson }};

        const world = {{ world|tojson }};
        const settlement = {{ settlement|tojson }};
        const character = {{ character|tojson }};
    </script>
</head>
<body>
    <div class="sleep-overlay{% if character.asleep %} active{% endif %}" id="sleep-overlay">
        <h2>Zzzz...</h2>
        <button onclick="sleep()">Wake up</button>
    </div>

    <div class="tired-overlay" id="tired-overlay">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>

    <div class="jail-overlay{% if character.jailed %} active{% endif %}" id="jail-overlay">
        <button>Request freedom</button>
    </div>

    <div class="night" id="night"></div>

    <div class="ui alert" id="alert"></div>

    <div class="ui time">
        <img src="/static/images/assets/time.png"/>
        
        <div>
            <b id="clock">00:00</b>
            <b id="date">00/00/00</b>
        </div>
    </div>

    <div class="ui character">
        <img src="/static/images/assets/{{ character.profession }}_avatar.png"/>

        <div class="properties">
            <div class="property"><div class="icon hunger"></div><b id="hunger">{{ character.hunger }}</b></div>
            <div class="property"><div class="icon fatigue"></div><b id="fatigue">{{ character.fatigue }}</b></div>
            <div class="property"><div class="icon health"></div><b id="health">{{ character.health }}</b></div>
            <div class="property"><div class="icon happiness"></div><b id="happiness">{{ character.happiness }}</b></div>
            <div class="property"><div class="icon pennies"></div><b id="pennies">{{ character.pennies }} penningen</b></div>
        </div>
    </div>

    <div class="ui character-actions">
        <button{% if character.taxes > 0 %} class="active"{% endif %} class="taxes" onclick="payTaxes()">Pay taxes (<b id="taxes">{{ character.taxes }} penningen</b>)</button>
        <button onclick="eat()">Eat</button>
        <button onclick="sleep()">Sleep</button>
        <button onclick="work()">Work</button>
    </div>

    <div class="ui actions">
        <button onclick="openBuildMenu()">Build</button>
        <button onclick="openMarket()">Market</button>
        <button onclick="openMap()">Map</button>
        <button onclick="centerCamera()">Center</button>
    </div>

    <div class="map-container" id="map-container">
        <canvas id="map"></canvas>
    </div>

    <div class="work-panel" id="work-panel">
        <button class="close" onclick="stopWorking()">Close</button>
        
        <div class="work-content" id="work-content"></div>
    </div>

    <div class="build-panel" id="build-panel">
        <button onclick="cancelBuild()">Cancel</button>
        <h2>Your buildables</h2>
        <div class="content"></div>

        <button onclick="confirmBuild()">Confirm build</button>

        <h2>Purchase</h2>
        <div>
            Market stall <b>20 penningen</b> <button onclick="buyBuildable('market_stall', 20)">Buy</button>
        </div>
    </div>

    <div class="market-panel" id="market-panel">
        <button class="market-btn" onclick="switchMarket('settlement')" id="settlement-market-btn" disabled>Local market</button>
        <button class="market-btn" onclick="switchMarket('merchant')" id="merchant-market-btn" style="display: none;">Merchant</button>
        <button class="market-btn" onclick="switchMarket('world')" id="world-market-btn">Global market</button>

        <button class="close" onclick="closeMarket()">Close</button>
        
        <div class="content"></div>

        <div class="sell" id="market-sell">
            <h2>Sell</h2>
            
            <input type="text" placeholder="item" id="item">
            <input type="number" placeholder="amount" id="amount">
            <input type="number" placeholder="price per item" id="price">

            <button onclick="sellItem()">Sell something</button>
        </div>
    </div>
</body>
</html>