<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basics.css') }}">

    <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/work.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/market.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/basics.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/character.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game_socket.js') }}" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>

    <script>
        let tiles = {{ tiles|tojson }};

        const world = {{ world|tojson }};
        const settlement = {{ settlement|tojson }};
        const settlementRuler = {{ settlement_ruler|tojson }}
        const character = {{ character|tojson }};
    </script>
</head>
<body>
    <div class="sleep-overlay{% if character.asleep %} active{% endif %}" id="sleep-overlay">
        <h2>Zzzz...</h2>
        <button onclick="sleep()">Wake up</button>
    </div>

    <div class="tired-overlay" id="tired-overlay">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>

    <div class="jail-overlay{% if character.jailed %} active{% endif %}" id="jail-overlay">
        <button onclick="requestFreedom()">Request freedom</button>
    </div>

    <div class="night" id="night"></div>

    <div class="alert" id="alert"></div>

    <div class="ui time">
        <img src="/static/images/assets/time.png"/>
        
        <div>
            <b id="clock">00:00</b>
            <b id="date">00/00/00</b>
        </div>
    </div>

    <div class="ui character">
        <img src="/static/images/assets/{% if character.profession != "Unemployed" %}{{ character.profession }}{% else %}farmer{% endif %}_avatar.png"/>

        <div class="properties">
            <div class="property"><div class="icon hunger"></div><b id="hunger">{{ character.hunger }}</b></div>
            <div class="property"><div class="icon fatigue"></div><b id="fatigue">{{ character.fatigue }}</b></div>
            <div class="property"><div class="icon health"></div><b id="health">{{ character.health }}</b></div>
            <div class="property"><div class="icon happiness"></div><b id="happiness">{{ character.happiness }}</b></div>
            <div class="property"><div class="icon pennies"></div><b id="pennies">{{ character.pennies }} penningen</b></div>
        </div>
    </div>

    <div class="ui character-actions">
        <button class="primary-btn taxes{% if character.taxes > 0 %} active{% endif %}" onclick="payTaxes()">Pay taxes (<b id="taxes">{{ character.taxes }} penningen</b>)</button>
        <button class="primary-btn" onclick="eat()">Eat</button>
        <button class="primary-btn" onclick="sleep()">Sleep</button>
        <button class="primary-btn" onclick="work()">Work</button>
        {% if character.happiness == "unhappy" or character.happiness == "depressed" %}
            <button class="primary-btn" onclick="toggleRevolution()">Revolution</button>
        {% endif%}
    </div>

    <div class="ui actions">
        <button class="primary-btn" onclick="openBuildMenu()">Build</button>
        <button class="primary-btn" onclick="openMarket()">Market</button>
        <button class="primary-btn" onclick="openMap()">Map</button>
        <button class="primary-btn" onclick="window.open('/help')">Help</button>
    </div>

    <div class="map-container" id="map-container">
        <canvas id="map"></canvas>
    </div>

    <div class="work-panel" id="work-panel">
        <button class="primary-btn" class="close" onclick="stopWorking()">Close</button>
        
        <div class="work-content" id="work-content"></div>
    </div>

    <div class="build-panel" id="build-panel">
        <button class="primary-btn" onclick="cancelBuild()">Cancel</button>
        <h2>Your buildables</h2>
        <div class="content"></div>

        <button class="primary-btn" onclick="confirmBuild()">Confirm build</button>

        <h2>Purchase</h2>
        <div>
            Market stall <b>20 penningen</b> <button class="primary-btn" onclick="buyBuildable('market_stall', 20)">Buy</button>
        </div>
    </div>

    <div class="market-panel" id="market-panel">
        <div class="market-selectors">
            <button class="primary-btn market-btn" onclick="switchMarket('settlement')" id="settlement-market-btn" disabled>Local market</button>
            <button class="primary-btn market-btn" onclick="switchMarket('merchant')" id="merchant-market-btn" style="display: none;">Merchant</button>
            <button class="primary-btn market-btn" onclick="switchMarket('world')" id="world-market-btn">Global market</button>
            <button class="primary-btn market-btn" onclick="closeMarket()">Close</button>
        </div>

        <h2>Market</h2>

        <div class="market-container">
            <div class="sell" id="market-sell">
                <h3>Sell</h3>
                <input type="text" placeholder="Item name" id="item">
                <input type="number" placeholder="Amount" id="amount">
                <input type="number" placeholder="Price per item" id="price">

                <button class="primary-btn" onclick="sellItem()">Sell something</button>

                <h3>You own</h3>
                <div id="sellables"></div>
            </div>

            <div class="content"></div>
        </div>
    </div>

    <div class="ui information" id="information-panel"></div>

    <div class="ui revolution" id="revolution-panel">
        <button class="primary-btn" onclick="toggleRevolution()">Close</button>

        <h2>Revolutions</h2>
        
        <p>
            If you feel unhappy about the way things are going in your settlement right now you can start a revolution! Gather your fellow citizens who feel the same and together you might be able to overthrow the current government. But be warned, revolutions often turn violent. Are you sure you want to risk it?
        </p>
        <p>
            A revolution will automatically start a day after half or more citizens joined the cause.
        </p>

        <button class="primary-btn" onclick="revolution()">Join revolution</button>
    </div>
</body>
</html>