<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basics.css') }}">

    <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/work.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/market.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/basics.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/character.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/game_socket.js') }}" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>

    <script>
        let tiles = {{ tiles|tojson }};

        const world = {{ world|tojson }};
        const settlement = {{ settlement|tojson }};
        const character = {{ character|tojson }};
    </script>
</head>
<body>
    <div class="sleep-overlay{% if character.asleep %} active{% endif %}" id="sleep-overlay">
        <h2>Zzzz...</h2>
        <button onclick="sleep()">Wake up</button>
    </div>

    <div class="night" id="night"></div>

    <div class="ui alert" id="alert"></div>

    <div class="ui information">
        <b id="clock">00:00</b> <b id="date">00/00/00</b>

        <button onclick="openBuildMenu()">Build</button>
        <button onclick="openMarket()">Market</button>
        <button>Map</button>
        <button onclick="centerCamera()">Center</button>
    </div>

    <div class="ui character">
        <li>Hunger <b id="hunger">{{ character.hunger }}</b></li>
        <li>Fatigue <b id="fatigue">{{ character.fatigue }}</b></li>
        <li>Health <b id="health">{{ character.health }}</b></li>
        <li>Happiness <b id="happiness">{{ character.happiness }}</b></li>
        <li>Wealth <b id="pennies">{{ character.pennies }} penningen</b></li>
        <li>Profession <b id="profession">{{ character.profession }}</b></li>

        <button onclick="eat()">Eat</button>
        <button onclick="sleep()">Sleep</button>
        <button onclick="work()">Work</button>
    </div>

    <div class="map-container" id="map-container">
        <canvas id="map"></canvas>
    </div>

    <div class="ui work-panel" id="work-panel">
        <button class="close" onclick="stopWorking()">Close</button>

        <div class="work-content" id="work-content"></div>
    </div>

    <div class="ui build-panel" id="build-panel">
        <div class="content"></div>

        <button onclick="confirmBuild()">Confirm build</button>
        <button onclick="cancelBuild()">Cancel</button>
    </div>

    <div class="ui market-panel" id="market-panel">
        <button class="close" onclick="closeMarket()">Close</button>

        <div class="content"></div>

        <div class="sell">
            <h2>Sell</h2>
            
            <input type="text" placeholder="item" id="item">
            <input type="number" placeholder="amount" id="amount">
            <input type="number" placeholder="price per item" id="price">

            <button onclick="sellItem()">Sell something</button>
        </div>
    </div>
</body>
</html>