<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Teacher</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">

    <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    <script src="{{ url_for('static', filename='js/basics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editTask.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>

    <!-- Not custom JS-->
    <script src="https://kit.fontawesome.com/6996113341.js" crossorigin="anonymous"></script>
</head>
<body>
    <button class="back" onclick="backToTasks('{{ world_id }}')">Back</button>

    <div class="actions" id="actions">
        <button onclick="moveField('up')"><i class="fa-solid fa-arrow-up"></i></button>
        <button onclick="moveField('down')"><i class="fa-solid fa-arrow-down"></i></button>
        <button onclick="duplicateField()"><i class="fa-solid fa-copy"></i></button>
        <button onclick="deleteField()"><i class="fa-solid fa-trash"></i></button>
    </div>

    <div class="task edit" id="task"></div>

    <div>
        <h3>Add text</h3>
        <div class="options">
            <button onclick="addField('header')">Header</button>
            <button onclick="addField('text')">Text</button>
            <input type="file" accept="image/*" name="images" id="images" onchange="handleImage(event)">
        </div>

        <h3>Add question</h3>
        <div class="options">
            <button onclick="addField('multiplechoice')">multiplechoice</button>
            <button onclick="addField('checkboxes')">checkboxes</button>
            <button onclick="addField('connect')">connect</button>
            <button onclick="addField('order')">order</button>
        </div>  

        <h3>Preview</h3>

        <button onclick="window.location.href='/task/{{ task.id }}/preview'">Preview</button>
    </div>

    <script>
        const task = document.getElementById("task");
        let activeTaskJson = {{ task|tojson }};

        activeTaskJson.fields.forEach(field => {
            const taskField = editableTaskFieldComponent(field);
            
            task.appendChild(taskField);    
        });
    </script>
</body>
</html>