{% extends "/teacher/teacher_base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editTask.js') }}" defer></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">

    <div>
        <a href="/teacher/{{ world.id }}/tasks">Tasks</a>
    </div>

    <div id="task"></div>

    <div>
        <h2>Add</h2>

        <div>
            <button onclick="addField('text')">Text</button>
            <input type="file" accept="image/*" name="images" id="images" onchange="handleImage(event)">
        </div>
        <div>
            <button onclick="addField('multiplechoice')">Multiplechoice</button>
            <button>checkboxes</button>
            <button>Connect</button>
            <button>Order</button>
        </div>
    </div>

    <script>
        const task = document.getElementById("task");

        {{ task.fields|tojson }}.forEach(field => {
            const taskField = editableTaskFieldComponent(field);
            
            task.appendChild(taskField);    
        });
    </script>
{% endblock %}
