{% extends "/teacher/teacher_base.html" %}

{% block content %}
    <button onclick="window.location.href='/teacher/{{ world.id }}/task/create'">Create task</button>
    
    {% for task in tasks %}
        <div class="task">
            <h2>{{ task.name }}</h2>

            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/edit">Edit</a>
            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/duplicate">Duplicate</a>
            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/delete">Delete</a>
        </div>
    {% endfor %}
{% endblock %}
