{% extends "/teacher/teacher_base.html" %}

{% block content %}
    <button onclick="window.location.href='/teacher/{{ world.id }}/task/create'">Create task</button>
    
    {% for task in tasks %}
        <div class="task">
            <h3>{{ task.name }} ({{ task.finished }}/{{ world.players }})</h3>

            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/edit">Edit task</a>
            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/info">Info about task</a>
            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/duplicate">Duplicate task</a>
            <a href="/teacher/{{ world.id }}/task/{{ task.id }}/delete">Delete task</a>
        </div>
    {% endfor %}
{% endblock %}
