{% extends "/teacher/teacher_base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='js/taskManagement.js') }}"></script>

    <button onclick="window.location.href='/task/create?world={{ world.id }}'">Create task</button>
    <button onclick="importTask('{{ world.id }}')">Import task</button>

    {% for task in tasks %}
        <div class="task" id="task-{{ task.id }}">
            <h3>{{ task.name }} ({{ task.finished }}/{{ world.players }})</h3>

            <button onclick="window.location.href='/task/{{ task.id }}/edit?world={{ world.id }}'">Edit task</button>
            <button onclick="window.location.href='/task/{{ task.id }}/info?world={{ world.id }}'">Info about task</button>
            <button onclick="duplicateTask('{{ task.id }}', '{{ world.id }}')">Duplicate task</button>
            <button onclick="deleteTask('{{ task.id }}', '{{ world.id }}')">Delete task</button>
        </div>
    {% endfor %}
{% endblock %}
