:root {
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: var(--font);
    color: #000;
    
}

button {
    font-family: var(--font);
    border: none;
}

button:hover {
    cursor: pointer;
}