.task {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.task.edit {
    width: 1200px;
    margin: 0px auto;
}

.task-field {
    position: relative;
    padding: 25px;
    font-size: 16px;
    text-align: center;
}

.task-field:first-child {
    margin-top: 75px
}

.task-field.question {
    border-bottom: 2px solid var(--secondary-bg);
}

.task-field span {
    position: absolute;
    top: 12.5px;
    left: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.task-field p {
    font-size: 18px;
    font-style: italic;
    margin-top: 0px;
}

.task-field p:last-child {
    margin-bottom: 0px;
}

.task-field img {
    width: 100%;
    border-radius: 12.5px;
}

.task-field .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5px;
}

.task-field.connect .grid {
    column-gap: 75px;
}

.task-field .option,
.task-field .choice {
    padding: 12.5px 0px;
    display: flex;
    align-items: center;
    gap: 18.75px;
    text-align: left;
}

.task-field .option:hover,
.task-field .choice:hover {
    cursor: pointer;
}

.task-field .choice .content {
    flex: 1;
}

.task-field .choice .indicator {
    width: 25px;
    height: 25px;
    border: 2px solid var(--secondary-bg);
    border-radius: 6.25px;
    transition: .3s;
}

.task-field.multiplechoice .choice .indicator {
    border-radius: 100%;
}

.task-field.checkboxes .choice.active .indicator,
.task-field.multiplechoice .choice.active .indicator {
    border-color: var(--primary-clr);
}

.task-field.checkboxes .choice.active .indicator {
    background-color: var(--primary-clr);
}

.task-field.multiplechoice .choice.active .indicator {
    border-width: 8px;
}

.task-field.connect .choice.odd {
    text-align: right;
}

.task-field .option {
    margin: 12.5px 0px;
    padding: 12.5px;
    border: 2px solid var(--secondary-bg);
    border-radius: 12.5px;
}
.task-field .option:not(:last-child) {
    margin-bottom: 12.5px;
}

.task-field .arrow {
    text-align: center;
    font-weight: bold;
}

.task-field .add-option {
    width: 100%;
}

.task-field .connect-answer {
    margin: 12.5px 0px 0px 0px;
    display: inline-flex;
    border: 1px solid var(--secondary-bg);
    border-radius: 12.5px;
}

.task-field .connect-answer .column {
    padding: 12.5px;
}

.task-field .connect-answer .column:not(:last-child) {
    border-right: 1px solid var(--secondary-bg);
}

.task-field .connect-answer .row {
    text-align: center;
}

.task-field .connect-answer .row input {
    margin-top: 12.5px;
    width: 50px;
    text-align: center;
}