nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100vw;
    padding: 25px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0px 10px 0 #e3e3e3;
}

nav .nav-content {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
}

.teacher-wrapper {
    margin: 100px auto;
    max-width: 1200px;
}

.actions {
    z-index: 1;
    position: absolute;
    right: calc((100vw - 1200px) / 2 - 100px);
    display: flex;
    flex-direction: column;
}

.actions.scroll {
    position: fixed;
    top: 0 !important;
}

.task-field textarea:focus {
    height: 150px;
}

.task-user {
    padding: 12.5px;
    border: 2px solid var(--secondary-bg);
    border-radius: 12.5px;
}

.task-user .other {
    display: none;
}

.task-user.active .other {
    display: block;
}

.work-content {
    height: 100%;
    max-width: 1200px;
    margin: 0px auto;
    overflow-y: scroll;
}

.work-content button {
    margin: 25px 0px 75px 0px;
}

.back-btn {
    position: fixed;
    top: 25px;
    left: 25px;
}