.ui {
    position: fixed;
    z-index: 10;
    font-size: 18px;
    background-color: rgb(63, 45, 33, 0.8);
    color: #f6f9fb;
    padding: 12.5px;
    border-radius: 6.25px;
}

/* ALERTS */
.alert {
    top: 12.5px;
    left: 25%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s;
    z-index: 1000;
    pointer-events: none;
}

.alert.show {
    left: 50%;
    opacity: 1;
}

/* UI */
.information {
    left: 12.5px;
    top: 12.5px;
}

.character {
    left: 12.5px;
    bottom: 12.5px;
}

li#taxes {
    display: none;
}

li#taxes.active {
    display: list-item;
}

/* PANELS */
.work-panel,
.market-panel {
    position: fixed;
    bottom: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg);
    transition: .3s;
    z-index: 100;
    color: var(--primary-font-clr);
}

.work-panel.active,
.market-panel.active {
    bottom: 0;
}

.work-panel button.close {
    position: absolute;
    top: 25px;
    left: 25px;
}

.work-content.profession-selector {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    overflow-y: scroll;
}

.work-content.profession-selector .profession {
    display: inline-table;
    text-align: center;
}

.work-content.profession-selector .profession img {
    transition: .3s;
    height: 400px;
}

.work-content.profession-selector .profession:hover {
    cursor: pointer;
}
.work-content.profession-selector .profession:hover img {
    opacity: 0.7;
}

.work-panel h2 {
    text-align: center;
}

.work-content {
    height: 100%;
    max-width: 1200px;
    margin: 0px auto;
    overflow-y: scroll;
}

.work-content button {
    margin: 25px 0px 75px 0px;
}

.build-panel {
    position: fixed;
    right: -100%;
    width: 400px;
    height: 100vh;
    background-color: var(--primary-bg);
    transition: .3s;
    color: var(--primary-font-clr);
}
.build-panel.active {
    right: 0px;
}

.inventory-item {
    padding: 25px;
}

.inventory-item.active {
    background-color: var(--secondary-bg);
}