.ui {
    position: fixed;
    z-index: 10;
    font-size: 18px;
    color: #f6f9fb;
    border-radius: 6.25px;
    user-select: none;
}

/* UI */
.character {
    position: relative;
    top: 18.5px;
    left: 12.5px;
    pointer-events: none;
}

.character img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 4px solid var(--game-primary-bg);
}

.character .properties {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 48px;
    height: 100px;
    background-color: var(--game-secondary-bg);
    padding: 0px 25px 0px 64.5px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 25px;
    border-radius: 0px 12.5px 12.5px 0px;
}

.character .properties .property {
    display: flex;
    align-items: center;
    gap: 6.25px;
}

.icon {
    width: 32px;
    height: 32px;
    background-image: url('/static/images/tilesets/icons.png');
}

.icon.fatigue {
    background-position: -32px 0px;
}
.icon.health {
    background-position: -64px 0px;
}
.icon.happiness {
    background-position: -96px 0px;
}
.icon.pennies {
    background-position: -128px 0px;
}
.icon.alert-icon {
    background-position: 0px -32px;
}

.time {
    position: relative;
    top: 12.5px;
    left: 12.5px;
    pointer-events: none;
}

.time img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid var(--game-primary-bg);
}

.time div {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 23px;
    background-color: var(--game-secondary-bg);
    padding: 0px 25px 0px 39.5px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 0px 12.5px 12.5px 0px;
}

.character-actions {
    top: 188.5px;
    left: 12.5px;
}

.taxes {
    display: none;
}

.taxes.active {
    display: inline-block;
}

.actions {
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}

/* MARKET */
.market-panel {
    position: fixed;
    z-index: 100;
    bottom: -100%;
    background-color: var(--game-tertiary-bg);
    height: 75vh;
    width: 75vw;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
    transition: .3s;
    padding: 25px 25px;
    border-radius: 0px 0px 18.75px 18.75px;
    text-align: center;
}

.market-panel.active {
    transform: translate(-50%, 50%);
}

.market-selectors {
    margin: -50px -25px 0px -25px;
    display: flex;
}

.market-selectors button {
    flex: 1;
    height: 50px;
}

.market-selectors button:disabled {
    background-color: var(--game-tertiary-bg);
    border-color: var(--game-tertiary-bg);
}

.market-selectors button:nth-child(1) {
    border-radius: 18.75px 0px 0px 0px;
}
.market-selectors button:nth-child(2),
.market-selectors button:nth-child(3) {
    border-radius: 0px;
}
.market-selectors button:nth-child(4) {
    border-radius: 0px 25px 0px 0px;
}

.market-container {
    display: flex;
    gap: 25px;
}

.market-container .sell {
    flex: 20%;
    width: 20%;
}

.market-container .sell input {
    margin-bottom: 12.5px;
}

.market-container .content {
    flex: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

/* PANELS */
.work-panel {
    position: fixed;
    bottom: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg);
    transition: .3s;
    z-index: 100;
    color: var(--primary-font-clr);
}

.work-panel.active {
    bottom: 0;
}

.work-panel button.close {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 25px;
}

.work-content.profession-selector {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    overflow-y: scroll;
}

.work-content.profession-selector .profession {
    display: inline-table;
    text-align: center;
}

.work-content.profession-selector .profession img {
    transition: .3s;
    height: 400px;
}

.work-content.profession-selector .profession:hover {
    cursor: pointer;
}
.work-content.profession-selector .profession:hover img {
    opacity: 0.7;
}

.work-panel h2 {
    text-align: center;
}

.work-content {
    height: 100%;
    max-width: 1200px;
    margin: 0px auto;
    overflow-y: scroll;
}

.work-content button {
    margin: 25px 0px 75px 0px;
}

.build-panel {
    position: fixed;
    top: 0;
    right: -450px;
    width: 400px;
    height: 100vh;
    background-color: var(--game-tertiary-bg);
    transition: right 0.3s ease;
    color: var(--primary-font-clr);
    padding: 12.5px;
}
.build-panel.active {
    right: 0;
}

.inventory-item {
    padding: 25px;
}

.inventory-item.active {
    background-color: var(--secondary-bg);
}

/* inforamtion panel */
.information {
    position: fixed;
    top: 0;
    right: -450px;
    width: 400px;
    height: 100vh;
    transition: right 0.3s ease;
    background-color: var(--game-tertiary-bg);
    color: var(--primary-font-clr);
    padding: 12.5px;
}

.information.active {
    right: 0;
}

.information h2 {
    margin: 0px;
}